.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#title {
  display: flex;
  align-items: center;
}

#headericon {
  width: 10%;
  height: auto;
  margin-right: 10px;
}

.toplinks {
  margin-left: 10%;
  display: flex;
  justify-content:space-between;
  gap: 20%;
}

#home {
  background-color: navy;
  border: none;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vw;
}

#anime-genres {
  background-color: navy;
  border: none;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vw;
}

#mal-profile {
  background-color: navy;
  border: none;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vw;
}

#faq {
  background-color: navy;
  border: none;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2vw;
}
