@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Titan+One');

@keyframes goldShimmer {
  0% {
    color: navy;
    text-shadow: 1px 3px 2px gold; 
  }
  100% {
    color: #FFD700;
    text-shadow: 0 0 4px #FFD700, 0 0 6px #FFA500, 0 0 8px #FFA500, 0 0 10px #FFA500, 0 0 12px #FFD700; /* Introduce gold shimmer */
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  background-color: gold;
  font-family: 'Poppins', sans-serif;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body {
  background-color: #f5f5dc; 
  color: white; 
}

#title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#headericon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

#headertitle {
  margin-right: 10px;
  font-size: 40px;
  color: gold; 
  animation: goldShimmer 3s infinite alternate; 
}

#headericon,
#headertitle {
  top: 0;
  z-index: 1;
}

.toplinks {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.menuButton,
.menuButton.clicked {
  background-color: navy;
  border: none;
  font-size: 14px;
  color: navy;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.menuButton:hover {
  background-color: darkslateblue;
  color: navy;
  font-size: 16px;
}

.normalButton,
.normalButton.clicked {
  background-color: navy;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.normalButton:hover {
  background-color: darkslateblue;
  color: white;
  font-size: 16px;
}

.carousel-container,
.slogan,
.header {
  margin: 0 !important;
  padding: 0 !important;
}

.slogan {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: goldenrod;
  text-shadow: 1px 3px 2px gold;
}

/* door animations */
.slogan::before, .slogan::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%; /* Start with full width to cover the text */
  height: 100%;
  background-color: goldenrod;
  z-index: 0;
  animation: slideDoor 120s infinite;
}

.slogan::before {
  left: -100%;
  animation-delay: 4s;
}

.slogan::after {
  right: -100%;
}

@keyframes slideDoor {
  0%, 50% {
    transform: translateX(0%);
  }
  25%, 75% {
    transform: translateX(100%);
  }
}

.slogan .text-container {
  position: relative;
  z-index: -1;
}

.blobs_1, .blobs_2, .blobs_3, .blobs_4, .blobs_5, .blobs_6, .blobs_7, .blobs_8, .blobs_9, .blobs_10, .blobs_11, .blobs_12 {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: blobs 15s ease-in-out infinite alternate;
  opacity: 0.5;
}

.blobs_1, .blobs_3, .blobs_5, .blobs_7, .blobs_9, .blobs_11 { background: limegreen; }
.blobs_2, .blobs_4, .blobs_6, .blobs_8, .blobs_10, .blobs_12 { background: forestgreen; }

.blobs_1 { top: 0; left: 0; }
.blobs_2 { top: 0; right: 0; }
.blobs_3 { top: 0; left: 45%; } /*3*/
.blobs_4 { bottom: 0; right: 20%; } /*2*/
.blobs_5 { bottom: 0; left: 0; }
.blobs_6 { bottom: 0; right: 0; }
.blobs_7 { bottom: 0; left: 50%; }
.blobs_8 { top: 50%; right: 0; }
.blobs_9 { top: 50%; left: 0; }
.blobs_10 { top: 50%; left: 30%; } /*1*/
.blobs_11 { top: 25%; left: 50%; }
.blobs_12 { top: 75%; left: 50%; }

@keyframes blobs {
  0% { border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%; }
  10% { border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%; }
  20% { border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%; }
  30% { border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%; }
  40% { border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%; }
  50% { border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%; }
  60% { border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%; }
  70% { border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%; }
  80% { border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%; }
  90% { border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%; }
  100% { border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%; }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: gold;
    font-family: 'Poppins', sans-serif;
  }

  #title {
    justify-content: center;
  }

  .toplinks {
    justify-content: center;
  }

  button {
    font-size: 12px;
    padding: 8px 16px;
  }

  headerTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #title {
    display: flex;
    align-items: center;
  }
  
  #headericon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  #headertitle {
    font-size: 40px;
    color: gold; 
  }
  
  .toplinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menuButton {
    background-color: navy;
    border: none;
    color: navy;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .menuButton:hover {
    background-color: darkslateblue;
  }
  
  .dropdown-select {
    width: 100%;
    color: white;
    background-color: navy;
    height: auto;
    z-index: 100;
    margin-left: 40px;
    border-radius: 10px;
}

.dropdown-select__control {
    background-color: navy;
    color: navy;
    border: none;
}

.dropdown-select__menu {
    background-color: navy;
    color: navy;
}

.dropdown-select__option--is-focused {
    background-color: darkslateblue;
}

.dropdown-select__option--is-selected {
    background-color: darkblue;
}
  
  .normalButton {
    background-color: navy;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .normalButton:hover {
    background-color: darkslateblue;
  }
}

.loading-bg-gif {
  background-image: url('./images/animerunning.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tv-container {
  position: relative;
  width: 100%;
  max-width: 2509px;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.tv-frame {
  max-width: 100%;
  height: auto;
  z-index: 0;
  background-color: gold;
}

.tv-screen-background {
  position: absolute;
  top: 44.86%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.3%;
  height: 84.70%;
  background: url('./images/animevalley.webp') no-repeat center center;
  background-size: cover;
  z-index: 1; 
}


.carousel-container {
  position: absolute;
  top: 19.9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50.33%;
  height: 34.69%;
  z-index: 2;
}

.carousel-container img {
  object-fit: cover;
}

.carousel .carousel-slider {
  background-color: #000;
}

.carousel .control-prev.control-arrow, 
.carousel .control-next.control-arrow {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel .control-prev.control-arrow::before, 
.carousel .control-next.control-arrow::before {
    content: '';
    border-width: 10px;
    border-color: white;
}

.carousel .control-prev.control-arrow:hover, 
.carousel .control-next.control-arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 4rem;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000; 
}

.sidebar.open {
  transform: translateX(0);
  width: 16rem;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  cursor: pointer;
}

.sidebar-content {
  padding: 20px;
  overflow-y: auto;
}

.toggle-button {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.open {
  transform: rotate(180deg);
}


.quizContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.quizContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 215, 0, 0.4);
  pointer-events: none;
  z-index: -1;
}

.quizContainer .bg {
  position: relative;
}

.quizContainer .bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(1) contrast(1) opacity(0.4);
}

@media (max-width: 768px) {
  .quizContainer .bg img {
    height: 400px;
  }
}


.bg {
  position: relative;
}

.questionContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.arrowButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigationButton {
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.navigationButton.prev::before {
  content: '←'; /* Left arrow icon */
}

.navigationButton.next::before {
  content: '→'; /* Right arrow icon */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeEnter {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeExit {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.submitContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textOverlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#quizButton {
  background-color: navy;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.textOverlay.hover #quizButton {
  background-color: darkslateblue;
  color: white;
  font-size: 16px;
}

.section {
  display:flex;
}

.column {
  flex:1;
  align-items:last baseline;
}

.row {
  padding: 10px;
  background-color: lightgray;
  margin-bottom: 10px;
}

.animerankings {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  padding: 20px; 
  background-color: goldenrod;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;;
}

.animerankings h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: navy;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.airinglist,
.popularlist {
  border: 2px solid gold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1; 
}

.airinglist ul li,
.popularlist ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  list-style-type: none; 
  transition: background-color 0.3s ease;
}

.airinglist ul li:hover,
.popularlist ul li:hover {
  background-color: #f0f0f0;
}

.animerankings a:hover {
  text-decoration: underline;
}


.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: gold;
  height:5vw;
  align-items: center;
}

.bg-goldfooter {
  background: linear-gradient(
    rgba(255, 215, 0, 0.5),
    rgba(255, 215, 0, 0.5)
  ), 
  url('./images/footeranimebg.webp') no-repeat center center;
  background-size: cover;
  position: relative;
  background-position: center top;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}